<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://cloudmorph.azurewebsites.net/</SiteUrlToLaunchAfterPublish>
    <publishUrl>C:\Dev\BlueMetal\CloudMorph\cloudmorph-azure\cloudmorph</publishUrl>
    <DeleteExistingFiles>False</DeleteExistingFiles>
  </PropertyGroup>
  <ItemGroup>
    <File Include="app/app.js">
      <publishTime>06/24/2012 09:39:03</publishTime>
    </File>
    <File Include="app/boot.js">
      <publishTime>06/24/2012 20:17:19</publishTime>
    </File>
    <File Include="app/collections/packages.js">
      <publishTime>06/24/2012 11:27:17</publishTime>
    </File>
    <File Include="app/models/package.js">
      <publishTime>06/24/2012 14:13:17</publishTime>
    </File>
    <File Include="app/routers/main.js">
      <publishTime>06/24/2012 11:10:28</publishTime>
    </File>
    <File Include="app/routers/packages.js">
      <publishTime>06/24/2012 20:17:33</publishTime>
    </File>
    <File Include="app/templates/home/index.html">
      <publishTime>06/24/2012 07:43:37</publishTime>
    </File>
    <File Include="app/templates/packages/form_fields.html">
      <publishTime>06/24/2012 20:17:40</publishTime>
    </File>
    <File Include="app/templates/packages/index.html">
      <publishTime>06/24/2012 07:15:22</publishTime>
    </File>
    <File Include="app/templates/packages/package_info.html">
      <publishTime>06/24/2012 07:34:58</publishTime>
    </File>
    <File Include="app/templates/packages/package_list.html">
      <publishTime>06/24/2012 20:08:44</publishTime>
    </File>
    <File Include="app/templates/packages/package_list_item.html">
      <publishTime>06/23/2012 17:00:49</publishTime>
    </File>
    <File Include="app/templates/undefined.html">
      <publishTime>06/23/2012 13:58:48</publishTime>
    </File>
    <File Include="app/views/home_page.js">
      <publishTime>06/24/2012 11:14:35</publishTime>
    </File>
    <File Include="app/views/packages/new_package.js">
      <publishTime>06/24/2012 19:53:35</publishTime>
    </File>
    <File Include="app/views/packages/packages_index.js">
      <publishTime>06/24/2012 11:19:51</publishTime>
    </File>
    <File Include="app/views/packages/package_form.js">
      <publishTime>06/24/2012 20:18:09</publishTime>
    </File>
    <File Include="app/views/packages/package_info.js">
      <publishTime>06/24/2012 20:00:34</publishTime>
    </File>
    <File Include="app/views/packages/package_list.js">
      <publishTime>06/24/2012 20:17:54</publishTime>
    </File>
    <File Include="app/views/packages/package_list_item.js">
      <publishTime>06/24/2012 11:30:55</publishTime>
    </File>
    <File Include="app/views/packages_index.js">
      <publishTime>06/23/2012 14:46:28</publishTime>
    </File>
    <File Include="app/views/package_list.js">
      <publishTime>06/23/2012 16:22:05</publishTime>
    </File>
    <File Include="app/views/package_list_item.js">
      <publishTime>06/23/2012 16:21:30</publishTime>
    </File>
    <File Include="bin/CloudMorphDashboard.dll">
      <publishTime>06/24/2012 20:18:27</publishTime>
    </File>
    <File Include="bin/Microsoft.Web.Infrastructure.dll">
      <publishTime>06/23/2012 12:05:29</publishTime>
    </File>
    <File Include="bin/ServiceStack.Common.dll">
      <publishTime>06/23/2012 12:05:30</publishTime>
    </File>
    <File Include="bin/ServiceStack.Common.xml">
      <publishTime>06/23/2012 12:05:30</publishTime>
    </File>
    <File Include="bin/ServiceStack.dll">
      <publishTime>06/23/2012 12:05:32</publishTime>
    </File>
    <File Include="bin/ServiceStack.Interfaces.dll">
      <publishTime>06/23/2012 12:05:30</publishTime>
    </File>
    <File Include="bin/ServiceStack.Interfaces.xml">
      <publishTime>06/23/2012 12:05:30</publishTime>
    </File>
    <File Include="bin/ServiceStack.OrmLite.dll">
      <publishTime>06/23/2012 12:05:31</publishTime>
    </File>
    <File Include="bin/ServiceStack.OrmLite.SqlServer.dll">
      <publishTime>06/23/2012 12:05:31</publishTime>
    </File>
    <File Include="bin/ServiceStack.RazorEngine.dll">
      <publishTime>06/23/2012 12:05:32</publishTime>
    </File>
    <File Include="bin/ServiceStack.Redis.dll">
      <publishTime>06/23/2012 12:05:31</publishTime>
    </File>
    <File Include="bin/ServiceStack.Redis.xml">
      <publishTime>06/23/2012 12:05:31</publishTime>
    </File>
    <File Include="bin/ServiceStack.ServiceInterface.dll">
      <publishTime>06/23/2012 12:05:32</publishTime>
    </File>
    <File Include="bin/ServiceStack.Text.dll">
      <publishTime>06/23/2012 12:05:29</publishTime>
    </File>
    <File Include="bin/ServiceStack.Text.xml">
      <publishTime>06/23/2012 12:05:29</publishTime>
    </File>
    <File Include="bin/ServiceStack.xml">
      <publishTime>06/23/2012 12:05:32</publishTime>
    </File>
    <File Include="bin/WebActivator.dll">
      <publishTime>06/23/2012 12:05:29</publishTime>
    </File>
    <File Include="Content/bootstrap-responsive.css">
      <publishTime>06/23/2012 11:50:07</publishTime>
    </File>
    <File Include="Content/bootstrap-responsive.min.css">
      <publishTime>06/23/2012 11:50:07</publishTime>
    </File>
    <File Include="Content/bootstrap.css">
      <publishTime>06/23/2012 11:50:07</publishTime>
    </File>
    <File Include="Content/bootstrap.min.css">
      <publishTime>06/23/2012 11:50:07</publishTime>
    </File>
    <File Include="Content/images/glyphicons-halflings-white.png">
      <publishTime>06/23/2012 11:50:06</publishTime>
    </File>
    <File Include="Content/images/glyphicons-halflings.png">
      <publishTime>06/23/2012 11:50:06</publishTime>
    </File>
    <File Include="Content/js/ss-validation.js">
      <publishTime>06/23/2012 12:05:42</publishTime>
    </File>
    <File Include="Global.asax">
      <publishTime>06/23/2012 12:10:25</publishTime>
    </File>
    <File Include="index.html">
      <publishTime>06/24/2012 09:15:48</publishTime>
    </File>
    <File Include="jqunback-1.51.min.js">
      <publishTime>06/23/2012 12:05:42</publishTime>
    </File>
    <File Include="js/backbone.support.js">
      <publishTime>06/23/2012 13:43:08</publishTime>
    </File>
    <File Include="js/preloader.js">
      <publishTime>06/23/2012 13:45:44</publishTime>
    </File>
    <File Include="js/require.js">
      <publishTime>06/24/2012 08:49:08</publishTime>
    </File>
    <File Include="licenses/HandleBar.js/Handlebarsjs_LICENSE">
      <publishTime>06/23/2012 13:45:04</publishTime>
    </File>
    <File Include="licenses/HandleBar.js/Handlebarsjs_README.md">
      <publishTime>06/23/2012 13:45:04</publishTime>
    </File>
    <File Include="licenses/Require.JS - LICENSE.txt">
      <publishTime>06/23/2012 11:50:21</publishTime>
    </File>
    <File Include="licenses/ServiceStack/default.htm">
      <publishTime>06/23/2012 12:05:42</publishTime>
    </File>
    <File Include="licenses/ServiceStack/README.txt">
      <publishTime>06/23/2012 12:05:42</publishTime>
    </File>
    <File Include="packages.config">
      <publishTime>06/24/2012 08:48:21</publishTime>
    </File>
    <File Include="read-later.txt">
      <publishTime>06/24/2012 15:01:31</publishTime>
    </File>
    <File Include="Scripts/backbone.js">
      <publishTime>06/23/2012 11:51:02</publishTime>
    </File>
    <File Include="Scripts/backbone.min.js">
      <publishTime>06/23/2012 11:51:02</publishTime>
    </File>
    <File Include="Scripts/bootstrap.js">
      <publishTime>06/23/2012 11:50:06</publishTime>
    </File>
    <File Include="Scripts/bootstrap.min.js">
      <publishTime>06/23/2012 11:50:06</publishTime>
    </File>
    <File Include="Scripts/cs.js">
      <publishTime>06/23/2012 11:50:21</publishTime>
    </File>
    <File Include="Scripts/domReady.js">
      <publishTime>06/23/2012 11:50:21</publishTime>
    </File>
    <File Include="Scripts/domReady.min.js">
      <publishTime>06/23/2012 11:50:21</publishTime>
    </File>
    <File Include="Scripts/handlebars.js">
      <publishTime>06/23/2012 13:45:04</publishTime>
    </File>
    <File Include="Scripts/handlebars.runtime.js">
      <publishTime>06/23/2012 13:45:04</publishTime>
    </File>
    <File Include="Scripts/i18n.js">
      <publishTime>06/23/2012 11:50:21</publishTime>
    </File>
    <File Include="Scripts/i18n.min.js">
      <publishTime>06/23/2012 11:50:21</publishTime>
    </File>
    <File Include="Scripts/jquery-1.7.2.js">
      <publishTime>06/23/2012 11:50:45</publishTime>
    </File>
    <File Include="Scripts/jquery-1.7.2.min.js">
      <publishTime>06/23/2012 11:50:45</publishTime>
    </File>
    <File Include="Scripts/order.js">
      <publishTime>06/23/2012 11:50:21</publishTime>
    </File>
    <File Include="Scripts/order.min.js">
      <publishTime>06/23/2012 11:50:21</publishTime>
    </File>
    <File Include="Scripts/r.js">
      <publishTime>06/23/2012 11:50:21</publishTime>
    </File>
    <File Include="Scripts/require.js">
      <publishTime>06/23/2012 11:50:21</publishTime>
    </File>
    <File Include="Scripts/require.min.js">
      <publishTime>06/23/2012 11:50:21</publishTime>
    </File>
    <File Include="Scripts/text.js">
      <publishTime>06/23/2012 11:50:21</publishTime>
    </File>
    <File Include="Scripts/text.min.js">
      <publishTime>06/23/2012 11:50:21</publishTime>
    </File>
    <File Include="Scripts/underscore.js">
      <publishTime>06/23/2012 11:51:02</publishTime>
    </File>
    <File Include="Scripts/underscore.min.js">
      <publishTime>06/23/2012 11:51:02</publishTime>
    </File>
    <File Include="Web.config">
      <publishTime>06/23/2012 16:50:10</publishTime>
    </File>
  </ItemGroup>
</Project>